@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-garamond: "Cormorant Garamond", serif;
  --font-vibes: "Great Vibes", cursive;
}

@layer base {
  :root {
    --font-garamond: var(--font-garamond);
    --font-vibes: var(--font-vibes);
  }
}

@layer utilities {
  .font-garamond {
    font-family: var(--font-garamond);
  }
  .font-vibes {
    font-family: var(--font-vibes);
  }
}
